name: GreytHR Auto Punch

on:
  schedule:
    # Runs at 04:30 UTC (10:00 AM IST) Mon-Fri
    - cron: '30 4 * * 1-5'
    # Runs at 14:00 UTC (07:30 PM IST) Mon-Fri
    - cron: '0 14 * * 1-5'
  
  # Allows you to run it manually from the Actions tab for testing
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager

      - name: Run Punch Script
        env:
          GREYTHR_URL: ${{ secrets.GREYTHR_URL }}
          GREYTHR_USER: ${{ secrets.GREYTHR_USER }}
          GREYTHR_PASS: ${{ secrets.GREYTHR_PASS }}
        run: python punch.py